# 대분류

## 자기소개
- 이름, 과거직장경력, 이 과정 이수 후 어디로 취업 희망
-- 개발자 / 분석가

In [ ]:
1+1

2

In [ ]:
print("Hello World")

Hello World

## 파이선 기초 문법
- 주석처리
- 여러 줄 주석처리 시, 
  + 함수, 클래스 작성할 때 요긴하게 쓰임 (예 : Docstring)

In [ ]:
# 이 코드는 무슨무슨 코드임

'''
여러줄 주석 처리
어ㅏㄹ어마ㅓ랑
'''

"""
어ㅏ러마ㅏㅣㅓ
"""

print("Hello World")

Hello World

## 변수의 종류 (Scala 자료형)
- 4가지 존재 : int, float, bool, None
- 스칼라의 의미 : 더 이상 나누어지지 않는 것

### int형 예제

In [ ]:
temp_int = 1
print(temp_int)
print(type(temp_int))

1
<class 'int'>

- 문자열

In [ ]:
temp_int = '1'
print(temp_int)
print(type(temp_int))

1
<class 'str'>

### float형 예제
- 실수형

In [ ]:
num_float = 0.2 
print(num_float)
print(type(num_float))

0.2
<class 'float'>

### Bool 형
- 참 거짓

In [ ]:
temp_bool = True
temp_bool = False

print(type(temp_bool))

<class 'bool'>

### None 자료형
- Null을 나타내는 자료형
  + 데이터분석에서 가장 처리하기 까다로운 자료형

In [ ]:
temp_none = None 
print(type(temp_none))

<class 'NoneType'>

## 사칙연산
- 정수형 사칙연산

In [ ]:
a = 6
b = 2

print(a + b) # 덧셈
print(a - b) # 뺄셈
print(a * b) # 곱셈
print(a / b) # 나누기
print(a // b) # 몫
print(a ** b) # 제곱
print(a % b) # 나머지

8
4
12
3.0
3
36
0

### 실수형 사칙연산

In [ ]:
a = 6.0
b = 2.0

print(a + b) # 덧셈
print(a - b) # 뺄셈
print(a * b) # 곱셈
print(a / b) # 나누기
print(a // b) # 몫
print(a ** b) # 제곱
print(a % b) # 나머지

8.0
4.0
12.0
3.0
3.0
36.0
0.0

### 논리형 연산자
- AND 조건, OR 조건이 있음

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

### 비교 연산자
- 비교 연산자는 부등호를 의미함
- 왼쪽이 기준 값

In [ ]:
print(4 > 3)
print(3 > 4)
print(3 >= 4)
print(3 <= 4)

True
False
False
True

## input()
- print() : 출력
- input() : 입력

In [ ]:
var = input("값을 입력해주세요!! ")
int_var = int(var)
print(int_var)
print(type(int_var))

값을 입력해주세요!! 6
6
<class 'int'>

In [ ]:
var = input("값을 입력해주세요!! ")
print(var)

var = int(var)
print(type(var))

값을 입력해주세요!! 5
5
<class 'int'>

In [ ]:
num1 = int(input("값을 입력해주세요!! "))
num2 = int(input("값을 입력해주세요!! "))

result = num1 + num2 
print(result)

값을 입력해주세요!! 10
값을 입력해주세요!! 20
30

## String
- 매우 중요함!!!!!!!!!!! 
-

### String 연산자

In [ ]:
str1 = "Hello "
str2 = "World"

print(str1 + str2)

Hello World

In [ ]:
str1 = "Hello "
str2 = "World"

result = str1 + str2
print(result)

Hello World

In [ ]:
str1 = "55"
str2 = "1000"
print(int(str1) + int(str2))

1055

- 곱셈 연산자 사용

In [ ]:
greeting = "Hello World "
print(greeting * 3)

Hello World Hello World Hello World

### Indexing 
- 중요!! 
- 0번째부터 시작

In [ ]:
greeting = "Hello World!"
print(greeting[-3])

l

### 슬라이싱
- 자름

In [ ]:
greeting = "Hello World!"
print(greeting[0:5])
print(greeting[:])
print(greeting[6:])
print(greeting[3:9])
print(greeting[5:-1])
print(greeting[0:9:2])

Hello
Hello World!
World!
lo Wor
 World
HloWr

In [ ]:
greeting = "Hello World!!!!!"
greeting[20]

IndexError: ignored

### 문자열의 함수들
- 공식문서! 
- 문자를 모두다 대문자로 바꾸겠습니다.

In [9]:
tmp_string = "Java"

# 변수명 저장! 
# 변수명 저장함과 동시에, 클래스로 바뀜
print(tmp_string.upper())
print(tmp_string.lower())

JAVA
java

- 참조 : https://docs.python.org/3/library/stdtypes.html#str.split

In [11]:
tmp_string = "BMW-BENZ-TESLA-KIA"
print(tmp_string.split(sep = '-'))

['BMW', 'BENZ', 'TESLA', 'KIA']

## 리스트
- 자바의 배열

In [12]:
a = []
a_func = list() # list() 함수로도 빈 리스트 생성
b = [1]
c = ['Apple']
d = [1, 2, ['apple']]

print(a)
print(a_func)
print(b)
print(c)
print(d)

[]
[]
[1]
['Apple']
[1, 2, ['apple']]

In [14]:
a = [5, 3, 1, 4, 6, 7]
print(a)

[5, 3, 1, 4, 6, 7]

In [19]:
a[0:4]

[5, 3, 1, 4]

### 중첩리스트(Nested List)
- 리스트내의 또 다른 리스트

In [20]:
a = [['apple', 'banana', 'cherry'], 1]
print(a)

[['apple', 'banana', 'cherry'], 1]

In [26]:
# cherry 글자에서 알파벳 e만 가져오세요
temp = a[0]
temp2 = temp[2]
temp2[2]

print(a[0][2][2])

e

### 리스트 연결 연산자
- 덧셈, 곱셈

In [1]:
a = ['alice', 'bob', 'cat']
b = ['apple', 'banana', 'cherry']

c = a + b 
print(c )

['alice', 'bob', 'cat', 'apple', 'banana', 'cherry']

In [3]:
a = ['a', 'b', 'c']
b = a * 5
print(b)

['a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c']

In [4]:
c = a * 0
print(c)

[]

### 리스트 값 수정
- 참조 : https://docs.python.org/3/tutorial/datastructures.html

In [8]:
a = [1, 1, 1]
a[1] = None

print(a)

[1, None, 1]

### 리스트 값 추가하기
- append 메서드 사용 (기억)
- 반복문 사용 시, 매우 자주 활용 됨

In [10]:
a = [100, 200, 300]

a.append(400)
a.append(500)
a.append(600)

print(a)

[100, 200, 300, 400, 500, 600]

In [11]:
a = [100, 200, 300]
b = [400, 500, 600]

a.append(b)

print(a)

[100, 200, 300, [400, 500, 600]]

### extend() 함수 사용
- 여러 개의 요소를 추가하고 싶다면 사용

In [12]:
a = [100, 200, 300]
b = [400, 500, 600]

a.extend(b)

print(a)

[100, 200, 300, 400, 500, 600]

### insert
- 특정한 위치에 값을 추가

In [18]:
a = [1, 1, 1, 1, 1, 1, 1]
a.insert(6, 100)

print(a)

[1, 1, 1, 1, 1, 1, 100, 1]

### 리스트의 값을 삭제
- remove() 함수

In [21]:
a = [5, 4, 3, 2, 1]
a.remove(5) # 숫자는 인덱스 번호 아님, value 값
a

[4, 3, 2, 1]

- pop 함수

In [22]:
a = [5, 4, 3, 2, 1]
a2 = a.pop(4)

print(a2)
print(a)

1
[5, 4, 3, 2]

## 그 외 유용한 메서드
- clear 함수

In [23]:
a = [0, 1, 2, 3]
print(a)

a.clear()
print(a)

[0, 1, 2, 3]
[]

In [25]:
a = [1, 4, 5, 2, 3]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [26]:
# 내림차순으로 정렬
a = [1, 4, 5, 2, 3]
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

## 튜플

In [28]:
tuple01 = (0)
tuple02 = (0, )
tuple03 = 0,1,2

print(tuple01)
print(tuple02)
print(tuple03)

print(type(tuple01))
print(type(tuple02))
print(type(tuple03))

0
(0,)
(0, 1, 2)
<class 'int'>
<class 'tuple'>
<class 'tuple'>

In [30]:
# packing
my_tuple = 3, 2, "A"
print(my_tuple)

# Unpacking
a, b, c = my_tuple 

print(a)
print(b)
print(c)

(3, 2, 'A')
3
2
A

### 수정 삭제 안됨

In [33]:
a = [0, 1, 2, 3, 4, 5, "a"]
del a[6]
a

[0, 1, 2, 3, 4, 5]

In [35]:
a = (0, 1, 2, 3, 4, 5, "a")
# print(a[6])
del a[6]
a

TypeError: ignored

- 수정

In [36]:
a = [1,1,1, 'a']
a[3] = 1
a

[1, 1, 1, 1]

In [37]:
a = (1,1,1, 'a')
a[3] = 1
a

TypeError: ignored

### 슬라이싱, 인덱싱
- 각자 실습

### 더하기 및 곱셈 연산자 사용

In [39]:
t1 = (0, 1, 2, 3, 4)
t2 = ('a', 'b', 'c')

print(t1 + t2)
print(t1 * 3)
print(t1 * 0)

(0, 1, 2, 3, 4, 'a', 'b', 'c')
(0, 1, 2, 3, 4, 0, 1, 2, 3, 4, 0, 1, 2, 3, 4)
()

## 딕셔너리
-

In [40]:
temp_dict = {
    "a" : [0, 1, 2, 3], 
    "b" : "휴먼", 
    "c" : 100
}

temp_dict

{'a': [0, 1, 2, 3], 'b': '휴먼', 'c': 100}

In [43]:
temp_dict['c']

100

In [44]:
temp_dict['d']

KeyError: ignored

In [49]:
# print(type(temp_dict.keys()))

# 리스트로 변환
result = temp_dict.keys()
result.append("d")

print(result)
result = list(temp_dict.keys())

print(result)
print(type(result))

AttributeError: ignored

In [52]:
result = temp_dict.values()
print(type(result))
print(result)

<class 'dict_values'>
dict_values([[0, 1, 2, 3], '휴먼', 100])

In [57]:
a = {'name' : '휴먼', 'age' : 50, 'job' : '학생'}
result = list(a.items())
print(result)
print(result[0][1])

[('name', '휴먼'), ('age', 50), ('job', '학생')]
휴먼

### 기초문법
- ㅇㅁ러ㅏ이ㅓㅣㅓ

### 판다스 문법
- 어ㅏㅣ러마ㅓ리ㅏ어

# 대분류2